<table class="table table-pin-rows table-sm">
  <thead>
    <tr>
      <th>ID.</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#results}}
    <tr>
      <th>{{ businessIdentifier }}</th>
      <td>{{ businessName }}</td>
    </tr>
    {{/results}}
  </tbody>
</table>
