<div class="overflow-x-auto">
  {{>businesses/business_search.mustache}}
  <div id="business-table">
    {{>businesses/business_paginate.mustache}}
    {{>businesses/business_table.mustache}}
  </div>
</div>
