<input
  type="search"
  name="search"
  placeholder="Search"
  class="input input-bordered w-full max-w-xs"
  hx-post="/businesses"
  hx-trigger="keyup changed delay:500ms, search"
  hx-target="#business-table"
/>
