<input
  type="search"
  name="search"
  placeholder="Search"
  class="input input-bordered w-full max-w-xs"
  hx-get="/businesses?page=1"
  hx-trigger="keyup changed delay:500ms, search"
  hx-target="#output"
  hx-push-url="true"
  {{#search}}value="{{search}}"{{/search}}
/>
