<!DOCTYPE html>
<html lang="en">
  {{>head.mustache}}
  <body>
    {{>navbar.mustache}}
    <main class="container" id="output">
      {{>businesses/businesses.mustache}}
    </main>
  </body>
</html>
